{% extends "base.html" %}

{% block title %}Create an Account - Charity unVigil Donation Tracker{% endblock %}

{% block content %}
<section class="pad-bottom">
    <h1>Create Your Donation Portal Account</h1>
    <p>
    To donate to events, or see more information, you'll need an account in our
    system. Create one here, or
    <a href="/attendee/login">
        login to an existing account.
    </a>
    </p>
    <form method="post">
        <div class="pad-bottom">
            <label for="username-field">Username:</label>
            <input name="username" id="username-field" type="text"
                                                       minlength="3"
                                                       maxlength="15">
        </div>
        <div class="pad-bottom">
            <label for="email-field">Email:</label>
            <input name="email" id="email-field" type="email">
        </div>
        <div class="pad-bottom">
            <label for="full-name-field">Full Name:</label>
            <input name="full-name" id="full-name-field" type="text">
        </div>
        <div>
            <label for="short-name-field">Short Name:</label>
            <input name="short-name" id="short-name-field" type="text">
        </div>
        <hr class="form-rule">
        <div class="pad-bottom">
            <label for="password-field">Password:</label>
            <input name="password" id="password-field" type="password"
                                                       minlength="8"
                                                       maxlength="50">
        </div>
        <div>
            <label for="password-confirm-field">Password (again):</label>
            <input name="password-confirm" id="password-confirm-field" type="password"
                                                                       minlength="8"
                                                                       maxlength="50">
        </div>
        <hr class="form-rule">
        <p>
        <strong>What clubs are you a member of?</strong>
        </p>
        <div>
            <input type="checkbox" id="pcs-check" name="pcs-member">
            <label for="pcs-check">Programming Competition Society</label>
        </div>
        <div>
            <input type="checkbox" id="ucc-check" name="ucc-member">
            <label for="ucc-check">University Computer Club</label>
        </div>
        <div>
            <input type="checkbox" id="unigames-check" name="unigames-member">
            <label for="unigames-check">Unigames</label>
        </div>
        <div>
            <input type="checkbox" id="unisfa-check" name="unisfa-member">
            <label for="unisfa-check">UniSFA</label>
        </div>
        <div class="input-div">
            <input type="submit" value="Create Account" class="button-good">
        </div>
    </form>
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
