<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logout - Charity unVigil Donation Tracker</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div id="fixed-banner">
            <div class="edge-padding">
                <header>
                    <div id="header-content">
                        <span>Balance: <strong id="acct_balance">$20.00</strong></span>
                        <div class="button-vstack">
                            <a href="/attendee/profile"><button class="button-info">Profile</button></a>
                            <a href="/attendee/logout"><button class="button-warn">Logout</button></a>
                        </div>
                        <a href="/donate"><button id="button-donate" class="button-good">Donate!</button></a>
                    </div>
                </header>
            </div>
        </div>
        <div id="scroll-content">
            <div class="edge-padding">
                <main>
                    <section>
                        <p id="donation-total">
                            <strong>$123.45</strong> raised so far. Keep up the good work everyone!
                        </p>
                    </section>
                    <section class="pad-bottom">
                        <h1>Confirm Logout</h1>
                        <p>
                            You won't be able to donate to events or see more info until you log back in.
                            Are you sure you want to logout?
                        </p>
                        <form method="post">
                            <div class="input-div">
                                <input type="submit" value="Logout" class="button-good">
                            </div>
                        </form>
                    </section>
                    <section>
                        <p><a href="/">Go back...</a></p>
                    </section>
                </main>
                <footer>
                    <div id="footer-content">
                        <em>Made by Felix von Perger and James Arcus</em>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
