{% extends "base.html" %}

{% block title %}Reset Password - Charity unVigil Donation Tracker{% endblock %}

{% block content %}
<section class="pad-bottom">
    <h1>Forgot Your Password?</h1>
    <p>
    If you have an email address associated with your account, you can reset your
    password here. If an account with that username or email exists, you will
    receive a code shortly.
    </p>
    <form method="post">
        <div>
            <label for="username-field">Username:</label>
            <input name="username" id="username-field" type="text"
                                                       minlength="3"
                                                       maxlength="15">
        </div>
        <p>
        <em>OR</em>
        </p>
        <div class="pad-bottom">
            <label for="email-field">Email:</label>
            <input name="email" id="email-field" type="email">
        </div>
        <div class="input-div">
            <input type="submit" value="Reset Password" class="button-good">
        </div>
    </form>
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
