{% extends "base.html" %}

{% block title %}Event Leaderboard - Charity unVigil Donation Tracker{% endblock %}

{% block content %}
<section class="pad-bottom">
    <h2>Event Leaderboard</h2>
    <div class="multi-table">
        <div class="multi-row">
            <a href="/events/d_d_oneshot">D&D Oneshot</a>
            <span>Unigames</span>
            <strong>$12342.45</strong>
        </div>
        <div class="multi-row">
            <a href="/events/screencheat">Screencheat</a>
            <span>UCC</span>
            <strong>$3245.22</strong>
        </div>
        <div class="multi-row">
            <a href="/events/really_long">Really Long Event Name to see if things break</a>
            <span>UCC</span>
            <strong>$456.43</strong>
        </div>
    </div>
</section>
<section>
    <p><a href="/leaderboards/">Go back...</a></p>
</section>
{% endblock %}
