<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Charity unVigil 2020 Events</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div id="fixed-banner">
            <div class="edge-padding">
                <header>
                    <div id="header-content">
                        <span>Balance: <strong id="acct_balance">$20.00</strong></span>
                        <div class="button-vstack">
                            <a href="/attendee/profile"><button class="button-info">Profile</button></a>
                            <a href="/attendee/logout"><button class="button-warn">Logout</button></a>
                        </div>
                        <a href="/donate"><button id="button-donate" class="button-good">Donate!</button></a>
                    </div>
                </header>
            </div>
        </div>
        <div id="scroll-content">
            <div class="edge-padding">
                <main>
                    <section>
                        <p id="donation-total">
                            <strong>$123.45</strong> raised so far. Keep up the good work everyone!
                        </p>
                    </section>
                    <section>
                        <h1>Charity <sup>un</sup>Vigil Events</h1>
                        <p>
                            Here is a full list of events running as part of Charity <sup>un</sup>Vigil 2020.
                        </p>
                    </section>
                    <section>
                        <h2>Currently Running</h2>
                    </section>
                    <section>
                        <h3>D&D Oneshot</h3>
                        <div class="event-info">
                            <span>Unigames</span> &mdash;
                            <span>8:30 pm - 9:30 pm</span>
                        </div>
                        <p>
                            Let's play some Dungeons & Dragons!
                        </p>
                        <p><a href="/events/d_d_oneshot">Find out more...</a></p>
                    </section>
                    <section>
                        <h3>Screencheat</h3>
                        <div class="event-info">
                            <span>UCC</span> &mdash;
                            <span>9:00 pm - 9:30 pm</span>
                        </div>
                        <p>
                            It's Screencheat time!
                        </p>
                        <p><a href="/events/screencheat">Find out more...</a></p>
                    </section>
                    <section>
                        <h3>Really Long Event Name to see if things break</h3>
                        <div class="event-info">
                            <span>UCC</span> &mdash;
                            <span>9:00 pm - 10:00 pm</span>
                        </div>
                        <p>
                            Haha HTML event management system go brrr....
                        </p>
                        <p><a href="/events/really_long">Find out more...</a></p>
                    </section>
                    <section>
                        <h2>Upcoming</h2>
                    </section>
                     <section>
                        <h3>Book Club</h3>
                        <div class="event-info">
                            <span>Unisfa</span> &mdash;
                            <span>9:30 pm - 10:30 pm</span>
                        </div>
                        <p>
                            Eat any good books lately, Worf?
                        </p>
                        <p><a href="/events/book_club">Find out more...</a></p>
                    </section>
                     <section>
                        <h3>Really Long Event Name to see if things break</h3>
                        <div class="event-info">
                            <span>UCC</span> &mdash;
                            <span>9:00 pm - 10:00 pm</span>
                        </div>
                        <p>
                            Haha HTML event management system go brrr....
                        </p>
                        <p><a href="/events/really_long_2">Find out more...</a></p>
                    </section>
                     <section>
                        <h3>Artemis</h3>
                        <div class="event-info">
                            <span>UCC, Unigames, Unisfa</span> &mdash;
                            <span>9:45 pm - 10:30 pm</span>
                        </div>
                        <p>
                            Pew pew pew!
                        </p>
                        <p><a href="/events/artemis">Find out more...</a></p>
                    </section>
                    <section>
                        <h2>Past Events</h2>
                    </section>
                    <section>
                        <p><a href="/">Go back...</a></p>
                    </section>
                </main>
                <footer>
                    <div id="footer-content">
                        <em>Made by Felix von Perger and James Arcus</em>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
